.navbar {
  height: var(--nav-size);
  padding: 0 1rem;
}

.navbarList {
  max-width: 100%;
  position: absolute;
}

.navItem {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}